// bootstrap overrides
$font-family-sans-serif: "Quattrocento Sans", Helvetica, sans-serif
$font-family-base: $font-family-sans-serif
$headings-font-weight: 600

@import "../bower_components/bootstrap-sass/vendor/assets/stylesheets/bootstrap"


$orange: rgba(245,174,2,0.75)

html, 
body
	background: rgb(240,240,240)


.jumbotron
	padding-left: 0
	background: url(../images/2row-tile.jpg?v=4)
	max-height: 250px
	margin-bottom: 0

	h1
		color: #2a2a2a

header
	background: rgba(230,230,230,0.6)
	max-width: 800px
	width: 80%
	margin-left: 5%
	
	h1
		padding: 10px 25px 5px

	.lead
		background: rgba(17,17,17,0.8)
		color: $orange
		padding: 5px 25px

.container
	margin-top: 0
	padding-top: 30px


form
	line-height: 1.4em

fieldset
	border: none
	border-top: 5px solid $orange
	margin-bottom: 30px
	padding-bottom: 20px
	background: url(../images/lil_fiber.png)
	box-shadow: 0px 0px 3px #a6a6a6
	
legend
	position: relative
	width: auto
	padding: 10px 20px
	font-size: 32px
	top: 0
	border: none
	background: $orange
	color: #2a2a2a

label
	font-weight: normal
	font-size: 1.25em


.small
	font-size: .75em

@media only screen and (min-width: 768px) and (max-width: 914px)
	.jumbotron
		h1
			font-size: 2em
	header
		max-width: 1000px
		width: 95%

