<form name="form" novalidate role="form">
  <fieldset class="col-md-6">
    <legend class="text-right">User Data</legend>
    <div class="col-md-4">
      <input type="number" class="form-control" ng-model="userData.targetGravity" id="targetGravity" step="0.001" min="1.03" ng-valid-required>
      <label for="targetGravity" class="control-label">Target Gravity<br><span class="small">(post boil)</span></label>
    </div>
    
    <div class="col-md-4">
      <input type="number" class="form-control" id="wortCollected" step="0.01" ng-model="userData.collected">
      <label for="wortCollected" class="control-label">Wort Collected<br><span class="small">(in gal)</span></label>
    </div>

    <div class="col-md-4">
      <input type="number" class="form-control" id="batchSize" ng-model="userData.batchSize">
      <label for="batchSize" class="control-label">Batch Size<br><span class="small">(in gal)</span></label>
    </div>
          
  </fieldset>
  
  <fieldset class="col-md-6 calculated">
    <legend>Calculated</legend>
  
    <div class="col-md-4">
      <p class="form-control-static">{{calculated.gu}}</p>
      <label class="control-label">Gravity Units<br><span class="small">(Target Gravity remove 1. any leading zeros)</span></label>
    </div>

    <div class="col-md-4">
      <p class="form-control-static">{{calculated.totalGu}}</p>
      <label class="control-label">Total Gravity Units<br><span class="small">(Calculated Gravity Units * Batch Size)</span></label>
    </div>
 
    <div class="col-md-4">
      <p class="form-control-static">{{calculated.targetPreBoil}}</p>
      <label for="targetPreGravity" class="control-label">Target Preboil Gravity</label>
    </div>
    
  </div>
  </fieldset>



  <fieldset class="col-md-6">
  <legend class="text-right"><span class="small">Preboil Gravity / Temp Reading</legend>
    <div class="col-md-4 pull-right">
      <input type="number" class="form-control" id="preboilGravity" ng-model="userData.preboil">
      <label for="preboilGravity" class="control-label">Preboil Gravity Reading</label>
    </div>
    <div class="col-md-4 pull-right">
      <input type="number" class="form-control" id="temp" min="80" max="212" ng-model="userData.readingTemp">
      <label for="temp" class="control-label">Temp of Reading (F)</label>
    </div>

  </div>
  </fieldset>



  <fieldset class="col-md-6 calculated">
  <legend><span class="small">Calculated &mdash; Preboil / Estimated Final Gravity</span></legend>
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-6">
          <p class="form-control-static">{{calculated.actualReading}}</p>
          <label for="preboilGravity" class="control-label">Calculated Preboil Gravity<br><span class="small">(with temp adj)</span></label>
        </div>

        <div class="col-md-6">
          <p class="form-control-static">{{userData.preboilGravity}}</p>
          <label for="actualReading" class="control-label">Your Actual Reading</label>
        </div>
      </div>
      <div class="col-md-12">
        <!-- 
        MIGHT NOT DISPLAY GRAVITY UNITS SHORT I DON'T THINK THE USER NEEDS THAT INFO.
        <div class="col-md-6">
          <p class="form-control-static">{{calculated.guShort}}</p>
          <label for="guShort" class="control-label">Gravity Units Short<br><span class="small">(per gal)</span></label>
        </div>
       -->
        <div class="col-md-6">
          <p class="form-control-static"><b>{{calculated.estimatedFG}}</b></p>
          <label for="estimatedFG" class="control-label">Estimated Final Gravity<br><span class="small">(with no adjustment)</span></label>
        </div>

    </div>
  </fieldset>

  
  <fieldset class="col-md-6 col-md-offset-6">
  <legend><span class="small">Calculated &mdash; DME addition</span></legend>
    <div class="col-md-4">
      <p class="form-control-static">{{calculated.dmeAdd}} lbs</p>
      <label for="dmeAddition" class="control-label text-center">DME Addition</label>
    </div>

    <div class="col-md-8">
      <select id="dme" ng-model="malt" ng-change="dmeSelection()" ng-options="d.dme + ' (' + d.ppg + 'ppg)' for d in dme">
        </select>
      <label for="dme" class="control-label text-left">Dry Malt Extract</label>
    </div>

    
  </fieldset>
</form>
