<header class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3>Hit Target Gravity</h3>
</header>

<div class="jumbotron">
  <h1>Hit your Target Gravity</h1>
  <p class="lead">
    Calculator to determine if you will be hitting target gravity and how to adjust!
  </p>
  <!-- <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!</a></p> -->
</div>

<form class="form-horizontal" role="form">
  <div class="form-group">
    <label for="targetGravity" class="col-md-3 control-label">Target Gravity<br>(post boil)</label>
    <div class="col-md-2">
      <input type="number" class="form-control" ng-model="userData.target" id="targetGravity" step="0.001" min="1.03">
    </div>
    
  </div>

  <div class="form-group form-inline">
    <label for="wortCollected" class="col-md-3 control-label">Wort Collected</label>
    <div class="col-md-2">
      <input type="number" class="form-control" id="wortCollected" step="0.01" ng-model="userData.collected">
    </div>

    <label for="batchSize" class="col-md-2 control-label">Batch Size</label>
    <div class="col-md-2">
      <input type="number" class="form-control" id="batchSize" ng-model="userData.batchSize">
    </div>
          
  </div>
  
  

  <div class="form-group">
    <label class="col-md-3 control-label">Calculated Gravity Units<br>(Target Gravity remove 1. any leading zeros)</label>
    <div class="col-md-9">
      <p class="form-control-static" ng-model="calculated.gu">80</p>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-3 control-label">Total Gravity Units<br>(Calculated Gravity Units * Batch Size)</label>
    <div class="col-md-9">
      <p class="form-control-static" ng-model="calculated.totalGu">400</p>
    </div>
  </div>

   <div class="form-group">
    <label for="targetPreGravity" class="col-md-3 control-label">Target Preboil Gravity</label>
    <div class="col-md-9">
      <p class="form-control-static" ng-model="calculated.targetPreBoil">1.061</p>
    </div>
    
  </div>


  
  <div class="form-group form-inline">
    <label for="preboilGravity" class="col-md-3 control-label">Preboil Gravity Reading</label>
    <div class="col-md-2">
      <input type="number" class="form-control" id="preboilGravity" ng-model="userData.preboil">
    </div>

    <label for="temp" class="col-md-2 control-label">Temp of Reading (F)</label>
    <div class="col-md-2">
      <input type="number" class="form-control" id="temp" min="80" max="212" ng-model="userData.readingTemp">
    </div>

  </div>



 <div class="form-group form-inline">
    <label for="preboilGravity" class="col-md-3 control-label">Preboil Gravity should be (with temp adj)</label>
    <div class="col-md-9">
      <p class="form-control-static" ng-model="userData.">1.048</p>
    </div>

    <label for="actualReading" class="col-md-2 control-label">Actual Reading</label>
    <div class="col-md-2">
      <input type="number" class="form-control" id="actualReading" min="80" max="212">
    </div>

  </div>


  <select class="form-control" id="dme" >
    <option ng-repeat="maltExt in dme">
      {{maltExt.dme}} - {{maltExt.ppg}}ppg
    </option>
  </select>

</form>
